
body{
  background-image: url('resources//pics/bg-main.png');
}


div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
   
    background-attachment: fixed;
    background-size: cover;
  }
  .page {
   
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    height: 300px;
    top: 70%;
    box-shadow: 0 0 8px 0;
    background: rgb(29, 4, 4);
   
    margin: 100px;
    border-radius: 10px;
  }
  .header {
    color: white;
    text-align:justify;
    margin: 10px 40px 10px 40px;
  }
  .description {
    color: white;
    margin: 0px 40px 10px 10px;
    direction:ltr;
    text-align: justify;
  }
  .flex{
    display:flex;
   
}
  .connect {
   
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    margin: 0px 60px 40px 40px;
    border-radius: 25px;
    border-color: rgb(131, 118, 76);
    height: 30px;
  }