
body{
  background-image: url('resources/bg-2.jpg');
}


div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
   
    background-attachment: fixed;
    background-size: cover;
  }
.col{
  display: flex;
 
  }
  .page1 {
   
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    height: 300px;
    top: 70%;
    box-shadow: 0 0 8px 0;
    background: rgb(85, 26, 26);
    margin: 100px;
    border-radius: 10px;
   
  }
  .page2{
   
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    height: 300px;
    top: 70%;
    box-shadow: 0 0 8px 0;
    background: rgb(85, 26, 26);
    margin: 100px;
    border-radius: 10px;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 10%;
  }
  .header {
    color: white;
    text-align:justify;
    margin: 10px 40px 10px 40px;
  }
  .description {
    color: white;
    margin: 0px 40px 10px 10px;
    direction:ltr;
    text-align: justify;
  }
.flex{
    display:flex;
   
}


.flex-wrap-rev{
  display:flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}



  .connect {
   
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    margin: 0px 60px 40px 40px;
    border-radius: 10px;
    border-color: rgb(131, 118, 76);
    height: 30px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input {
    background: transparent;
    width: 200px;
    height: 40px;
    padding: 10px, 10px;
    margin: 10px, 10px, 200px, 10px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: white;
    caret-color: white;
    color: white;
  }
  .login-btn {
    background-color: transparent;
    margin: auto;
    border-radius: 10px;
    border-color: #fff;
    height: 30px;
    width: 100px;
    text-decoration: none;
    color: white;
  }